@mixin before_circle{
    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: -25%;
        background-color: $main-color;
        border-radius: 100%;
        width: 36px;
        height: 36px;
        z-index: -1;
    }
};
